{% extends "base.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/star-ratings.css' %}">
  <script src="{% static 'js/star-ratings.js' %}" defer></script>
{% endblock header %}
{% block content %}
  <h1>All Trains</h1>
  <table class="highlight" id="click">
    <thead>
      <tr>
        <th>Train Name</th>
        <th>Trainline</th>
        <th>Rating</th>
        <th>Capacity</th>
        <th>Cars</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for train in trains %}
        <tr data-url="{% url 'train_detail' train.id %}" class="clickable">
          <td>{{ train.name }}</td>
          <td>{{ train.railway }}</td>
          <td><span class="star-rating">{{ train.get_rating }}</span></td>
          <td>{{ train.capacity }}</td>
          <td>{{ train.cars }}</td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <script>
    const table = document.getElementById('click');

    table.addEventListener('click', function(evt){
      if(evt.target.closest('tr').dataset.url){
        window.location.href = evt.target.closest('tr').dataset.url;
      };
    });
  </script>
{% endblock content %}
