{% extends "base.html" %}
{% load static %}
{% block header %}
    <link rel="stylesheet" href="{% static 'css/star-ratings.css' %}">
    <script src="{% static 'js/star-ratings.js' %}" defer></script>
{% endblock header %}
{% block content %}
    <h1>Train Detail</h1>
    <ul>
        <li>
            <strong>NAME:</strong> {{ train.name }}
        </li>
        <li>
            <strong>RAILWAY:</strong> {{ train.railway }}
        </li>
        <li>
            <strong>RATING:</strong> <span class="star-rating">{{ train.get_rating }}</span>
        </li>
        <li>
            <strong>CAPACITY:</strong> {{ train.capacity }}
        </li>
        <li>
            <strong>CARS:</strong> {{ train.cars }}
        </li>
        <li class="mt-1">
            <strong><b>COMMENTS</b></strong>
        </li>
        <ul>
            <hr>
            <div class="container left mb-1">
                <form id="comment-form"
                      action="{% url 'add_comment' train.id %}"
                      method="post">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <input type="submit" value="Submit!" class="btn mb-1 mt-1">
                </form>
                {% for comment in train.comments.all %}
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title"><strong>{{ comment.user }}</strong><small> on {{ comment.date }}</small></span>
                            <li>
                            <span class="star-rating">{{ comment.rating }}</span>
                            </li>
                            <li class="mt-1">
                                {{ comment.content }}
                            </li>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'update_comment' comment.id %}">Edit</a>
                            <a href="{% url 'delete_comment' comment.id %}">Delete</a>
                        </div>
                    </div>
                {% endfor %}
                <br><br>
            </div>
        </ul>
    </ul>
{% endblock content %}
