{% extends 'base.html' %}
{% block content %}

<h1> Train Detail </h1>
<ul>
    <li>NAME: {{train.name}}</li>
    <li>RAILWAY: {{train.railway}}</li>
    <li>RATING: {{train.get_rating}}</li>
    <li>CAPACITY: {{train.capacity}}</li>
    <li>CARS: {{train.cars}}</li> 
    <li>COMMENTS:</li>
    <ul>
    {% for comment in train.comment_set.all %}
    <div class='card'> 
        <div class="card-content">
        <li>User:{{comment.user}}</li>
        <li>Date:{{comment.date}}</li>  
        <li>Comment:{{comment.content}}</li>  
        </div>
        <div class="card-action">
            <a href="{% url 'update_comment' comment.id %}">Edit</a>
            <a href="{% url 'delete_comment' comment.id %}">Delete</a>
        </div>
    </div>


        {% endfor %}
    </ul>
</ul>

<form id="comment-form" action="{% url 'add_comment' train.id %}" method='POST'>
  {% csrf_token %}

    <table> {{ form.as_table }}</table>
    <input type="submit" value="Submit!" class="btn" >
</form>

{% endblock %}