{% extends "base.html" %}
{% load static %}
{% block header %}
  <script src="{% static 'js/dynamic-table.js' %}" defer></script>
  <script src="{% static 'js/utils.js' %}"></script>
{% endblock header %}
{% block content %}
  <h1>All Journeys</h1>
  <ul class="collapsible">
    <li>
      <div class="collapsible-header">
        <i class="material-icons">search</i>Search Journeys <i class="right caret collapsed"></i>
      </div>
      <div class="collapsible-body search-area">
        <div class="row">
          <div class="col s6">
            <div class="card">
              <div class="card-title center">Destinations:</div>
              <div class="card-content">
                <form id="dest-search">
                  <label for="from-enabled"><input type="checkbox" id="from-enabled"><span>From:</span></label>
                  <input type="text" name="from" id="from-field">
                  <label for="to-enabled"><input type="checkbox" id="to-enabled"><span>To:</span></label>
                  <input type="text" name="to" id="to-field">
                </form>
              </div>
            </div>
          </div>
          <div class="col s6">
            <div class="card">
              <div class="card-title center">Dates:</div>
              <div class="card-content">
                <form id="date-search">
                  <label for="after-date-enabled"><input type="checkbox" id="after-date-enabled"><span>After:</span></label>
                  <input type="text" name="after-date" id="after-date-field" class="datepicker">
                  <label for="before-date-enabled"><input type="checkbox" id="before-date-enabled"><span>Before:</span></label>
                  <input type="text" name="before-date" id="before-date-field" class="datepicker">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div id="table-container"></div>
  <!-- Modal Structure -->
  <div id="stops-modal" class="modal bottom-sheet">
    <div class="modal-content">
      <h4 class="header" id="modal-header"></h4>
      <div id="modal-body">
        <table>
          <thead>
            <tr>
              <th>Station</th>
              <th>Arrival</th>
              <th>Departure</th>
            </tr>
          </thead>
          <tbody id="modal-table-body">
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
  <script>
    const showError = (error) =>{
      const toast = `<p class="red-text">An error has occured:<span style="color:white;">${error}. <br>Please try again</span></p>`
      M.toast({html: toast});
    }

    const showStopsModal = ({route,stops}) =>{
      document.getElementById('modal-header').textContent = `${route} - All Stops`;
      const tbody = document.getElementById('modal-table-body');
      while(tbody.firstChild){
        tbody.firstChild.remove();
      }
      stops.forEach(stop => {
        const tr = document.createElement('tr');
        let stationTd = document.createElement('td');
        let arrivalTd = document.createElement('td');
        let departTd = document.createElement('td');
        stationTd.innerText = stop.station;
        arrivalTd.innerText = getDatetime(stop.arrival);
        departTd.innerText = getDatetime(stop.departure);
        tr.append(stationTd,arrivalTd,departTd)
        
        tbody.appendChild(tr);
      });
      M.Modal.getInstance(document.getElementById('stops-modal')).open();
    }

    const stopsParseFunction = (data,td,tr) =>{
      const a = document.createElement('a');
      a.className = 'btn btn-small';
      a.dataset.journeyId = data.journeyId;
      a.href="#!"
      a.textContent = "See all stops"
      a.addEventListener('click', async evt=>{
        // fetch all stops for route of journey
        try{
          const response = await fetch(`/ajax/journeys/${evt.target.dataset.journeyId}/stops`);
          if(!response.ok) throw new Error(await response.text());
          try{
            const jsonData = await response.json();
            // display modal
            showStopsModal({route: jsonData.data.route, stops: jsonData.data.stops})   
          }catch(e){
            showError(`Couldn't parse JSON<br>${e}`);
          }
        }catch(e){
          showError(`Couldn't fetch data<br>${e}`);
        }
      });
      td.appendChild(a);
      tr.classList.add('clickable');
      tr.dataset.url = `/journeys/${data.journeyId}`
      tr.appendChild(td);
    }

    const tableHeaders = [
    {
      text: "Train Name",
      sort: {
        sortBy:"train__name"
      },
    },
    {
      text: 'Route',
      sort: {
        sortBy: 'route'
      }
    },
    {
      text: 'Departure',
      sort:{
        sortBy: 'departure_time'
      }
    },
    {
      text: 'Arrival',
      sort: {
        sortBy: 'arrival_time'
      }
    },
    {
      text: 'Stops',
      parseFunction: stopsParseFunction
    }
    ];

    const fetchFunction = async (tableOptions, formattedUrl) => {
      try{
          const response = await fetch(formattedUrl); 
          if(response.ok){
              const responseJson = await response.json();
              const rows = [];
              const data = responseJson.data;
              data.forEach(journey => {
                  rows.push([journey.train, journey.route, getDatetime(journey.departure), getDatetime(journey.arrival), {journeyId: journey.id}]);
              });
              tableOptions.limit = responseJson.perPage ? responseJson.perPage : tableOptions.limit;
              tableOptions.pageCount = responseJson.pageCount ? responseJson.pageCount : tableOptions.pageCount;
              tableOptions.page = responseJson.page ? responseJson.page : tableOptions.page;
              return rows;
          }else{
              throw new Error('Bad Response recieved from server');
          }
      }catch(e){
          showError(e);
      }
  }

    const tableOptions = {
      url: "{% url 'all_journeys' %}",
      limit: 5,
      page: 1,
      pageCount: 0,
      sort: {
        sortBy: 'departure_time',
        asc:true,
      }
    }

    document.addEventListener("DOMContentLoaded", ()=>{
      const handler = tableHandler(
        document.getElementById('table-container'),
        'journeys-table',
        null,
        tableOptions,
        fetchFunction,
        tableHeaders,
        ['highlight']
      );

      const modal = document.getElementById('stops-modal');
      const instance = M.Modal.init(modal);
      const table = document.getElementById('journeys-table-data-body');

      table.addEventListener('click', function(evt){
        console.log(evt.target)
        if(evt.target.dataset.journeyId) return;
        const url = evt.target.closest('tr').dataset.url;
        if (url) {
          window.location.href = url;
        }
      });

      const caret = document.querySelector('.caret')
      const elem = document.querySelector('.collapsible');
      const collapseInstance = M.Collapsible.init(elem, {
          accordion: true,
          onOpenStart: () => caret.classList.remove('collapsed'),
          onCloseStart: () => caret.classList.add('collapsed'),
      });

      const datepickers = document.querySelectorAll('.datepicker');
      const beforeInstance = M.Datepicker.init(datepickers[1], {
        autoClose: true,
        defaultDate: new Date(),
        minDate: new Date(),
        onSelect: (e) => document.getElementById('before-date-enabled').checked = true,
      })
      const afterInstance = M.Datepicker.init(datepickers[0],{
        autoClose: true,
        defaultDate: new Date(),
        minDate: new Date(),
        onSelect: (e) => document.getElementById('after-date-enabled').checked = true,
      });

      const fromText = document.getElementById('from-field');
      const toText = document.getElementById('to-field');

      fromText.addEventListener('input', (evt)=>{
        if(!handler) return;
        const fromchk = document.getElementById('from-enabled')
        if(evt.target.value){
          fromchk.checked = true;
        }else{
          fromchk.checked = false;
        }
      });

      toText.addEventListener('input', (evt)=>{
        if(!handler) return;
        const to = document.getElementById('to-enabled')
        if(evt.target.value){
          to.checked = true;
        }else{
          to.checked = false;
        }
      });


      const DEBOUNCE_TIME = 500;
      let timerId;
      const baseUrl = "{% url 'all_journeys' %}"

      const buildUrl = (params) =>{
        let url = baseUrl + '?' ;
        if(params.toStop){
          url += 'toStop=' + params.toStop + '&'
        }
        if(params.fromStop){
          url += 'fromStop=' + params.fromStop + '&'
        }
        if(params.beforeDate){
          url += 'before=' + params.beforeDate + '&'
        }
        if(params.afterDate){
          url += 'after=' + params.afterDate
        }
        return url;
      }

      const searchArea = document.querySelector('.search-area');
      searchArea.addEventListener('input',(evt)=>{
        if(!handler) return;
        let params ={};
        if(!! document.getElementById('to-enabled').checked){
          params.toStop = toText.value;
        }
        if(!! document.getElementById('from-enabled').checked){
          params.fromStop = fromText.value;
        }
        if(!! document.getElementById('after-date-enabled').checked){
          params.afterDate = formatDateWithTimezone(new Date(afterInstance.date));
        }
        if(!! document.getElementById('before-date-enabled').checked){
          params.afterDate = beforeInstance.date.toString();
        }
        formattedUrl = buildUrl(params);
        console.log(formattedUrl)

        clearTimeout(timerId);
        timerId = setTimeout(() => {
          

          
        }, DEBOUNCE_TIME);
      });
    });
    

    
  </script>
{% endblock content %}
