{% extends "base.html" %}
{% block content %}
  <h1>All Journeys</h1>
  <table class="highlight" id="click">
    <thead>
      <tr>
        <th>Train Name</th>
        <th>Route</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for journey in journeys %}
        
        <tr data-url="{% url 'journey_detail' journey.id %}" class="clickable">
         <div class="collapsible-header">
          <td>{{ journey.train.name }}</td>
          <td>{{ journey.route }}</td>
          <td>{{ journey.departure_time }}</td>
          <td>{{ journey.arrival_time }}</td>
         
         <td></td>
         </div>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
    const table = document.getElementById('click');

    table.addEventListener('click', function(evt){
      const url = evt.target.closest('tr').dataset.url;
      if (url) {
        window.location.href = url;
      }
    });
  </script>
{% endblock content %}
