{% extends "base.html" %}
{% block content %}

<h1>GET YOUR TRIP READY</h1>

<ul>
    <li>
       <ul>
         {% for stop in stops %}
         <li>Station: {{stop.station}}</li>
         <li>Arrival Time: {{stop.arrival_time}}</li>
         <li>Departure Time: {{stop.departure_time}}</li>
         {% endfor %}
       </ul>
       <ul>
         <li>Journey Info: {{booking.journey}}</li>
         <li>Name of Passenger: {{user.username}}</li>
         <li>Number of Passengers: {{booking.number_of_passengers}}</li>
         <li>Luggage Weight: {{booking.luggage_weight}}</li>
        </ul>
    </li>
</ul>
<form method="POST">
    {% csrf_token %}
  <input type="submit" value="Create Booking" class="'btn mb mt-1">  
</form>
{% endblock content %}