{% extends "base.html" %}
{% block content %}
<h1> YOUR TRIPS</h1>

{% for booking in allbookings %}
<ul class="card">
    <li>
        <ul>
            <li>Journey: {{ booking.journey }}</li>
            <li>departure: {{booking.journey.departure_time}}</li>
            <li>arrival: {{booking.journey.arrival_time}}</li>
            <li>seat number: {{booking.seat_number}}</li>
        </ul>
        <div class="card">
            <a href="{% url 'update_my_bookings' booking.id %}">Update Booking</a>
    </li>
</ul>
{% endfor %}
{% endblock content %}