{% extends "base.html" %}
{% block content %}

<div class="container">
<h1>Sign Up</h1>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">Sign Up</button>
</form>
</div>
{% if error %}
<script>
    window.addEventListener('DOMContentLoaded',()=>{
        const toast = `<p class="red-text">An error has occured:<span style="color:white;"> {{ error }}. <br>Please try again</span></p>`
        M.toast({html: toast});
    });
</script>
{% endif %}
{% endblock content %}