{% extends "base.html" %}
{% block content %}
  <h1>About The Thomas Collective</h1>
  <hr />
  <div class="about">
    <p>We are a dedicated group of individuals looking to imporve the customer's experience with traveling by train.
      By creating and designing this app, we look to provide a seamless user experience in the following ways:
    </p>
    <li>More convenient ways to check and schedule train and subway rides</li>
    <li>Prepaying for tickets(GOING GREEN!♻️)</li>
    <li>More easy way to avoid riding an unpleasant train ride</li>
    <li>Checking different locations that the train will arrive at</li>
  </div>
{% endblock content %}
