img.ttc-logo {
    height: 128px;
    width: 128px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

/* This is about the med breakpoint for Materialize */
@media screen and (max-width: 991.98px) {
    img.ttc-logo {
        height: 80px;
        width: 80px;
    }
}

/* This is about the sm/xs breakpoint for Materialize */
@media screen and (max-width: 600.98px) {
    img.ttc-logo {
        height: 64px;
        width: 64px;
    }
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.mr-1 {
    margin-right: 0.25rem !important;
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.ml-1 {
    margin-left: 0.25rem !important;
}

.clickable {
    cursor: pointer;
}

span.star-rating * {
    vertical-align: middle;
    color: #daa520;
}

.star-container {
    display: flex;
    flex-direction: row-reverse;
}

.star-container * {
    vertical-align: middle;
    color: #daa520;
}

.star-container:not(.editing) .star:not(.star-filled)::after {
    content: 'star_border';
}

.star-container:not(.editing) .star:is(.star-filled)::after {
    content: 'star';
}

.star-container.editing .star::after {
    content: "star_border";
}

.star-container.editing .star:hover~.star::after {
    content: "star";
}

.star-container.editing .star:hover::after {
    content: "star";
    cursor: pointer;
}

.page-footer{
    position: absolute;
    width: 100%;
    bottom: 0 !important;
}