{% extends "base.html" %}
{% block content %}
<div class="container valign-wrapper" style="padding: 15px;">
    <div class="card">
        <div class="card-title center"><h3>Check your inbox</h3></div>
        <div class="card-content center">
            Users who verify their emails are happier users, did you know that?<br>
            An email has been sent to verify your email address. Check your inbox<br>
            <small>Be sure to check your spams</small>
        </div>
    </div>
</div>
{% endblock content %}
